<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tbgr">
      <h2 data-cy="tbgrDetailsHeading"><span>Tbgr</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tbgr.id }}</span>
        </dd>
        <dt><span>Board</span></dt>
        <dd>
          <span>{{ tbgr.board }}</span>
        </dd>
        <dt><span>Village</span></dt>
        <dd>
          <span>{{ tbgr.village }}</span>
        </dd>
        <dt><span>Tbgr</span></dt>
        <dd>
          <span>{{ tbgr.tbgr }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ tbgr.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tbgr', tbgr.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
